/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 */

 @import 'base';

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: $color__primary;
}

.nav__link--active{
  color: $color__primary--light;
}

.App-header__logo{
  width: 100%; 
  max-width: 200px;
}

.toolbar__btn--active{
  color: $color__primary--light;
}

table{
  
  tr{

    td, th{
      text-align: center;
    }
  }

  tr:hover{
    background-color: lightblue;
  }

}


footer{

  ul{
    display:flex;
    list-style: none;
    li{
      padding: 10px;
    }
  }
}
